<div class="main">
  <div class="routing-buttons">
    <button class="btn btn-info" (click)="goTo('form')">Apply</button>
    <button class="btn btn-danger" (click)="goTo('raffle')">Raffle</button>
  </div>

  <router-outlet></router-outlet>

  <button class="btn btn-sm btn-warning" (click)="show = !show">{{ show ? 'hide' : 'show'}} members</button>

  <ol *ngIf="show" class="members-list">
    <li *ngFor="let member of members">
      {{ member.name }} - {{ member.email }}
    </li>
  </ol>

</div>

